{% extends "owner/base.html" %}

{% block content %}

<h2>Stalls for {{ event.title }}</h2>

<div style="margin-bottom:10px; color:#9aa4b2;">
    Event ID: {{ event.id }}
</div>

{% for s in stalls %}
<div class="card">

    <h3>{{ s.name }}</h3>

    <p><b>Owner:</b>
        {% if s.owner %}
            {{ s.owner.name }}
        {% else %}
            No Owner
        {% endif %}
    </p>

    <p><b>Phone:</b>
        {% if s.owner %}
            {{ s.owner.phone }}
        {% else %}
            -
        {% endif %}
    </p>

    <p><b>Event:</b>
        {% if s.event %}
            {{ s.event.title }}
        {% else %}
            Rental Stall (No Event)
        {% endif %}
    </p>

    <p>{{ s.description }}</p>

</div>

{% empty %}
<p>No stalls found for this event.</p>
{% endfor %}

{% endblock %}