{% extends 'owner/base.html' %}

{% block content %}

<h1 class="title">Edit Stall</h1>

<div class="card" style="max-width:500px; margin:auto;">

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn" style="width:100%; margin-top:10px;">
            Save Changes
        </button>

        <a href="{% url 'stall_list' %}" class="btn" style="display:block; text-align:center; margin-top:10px;">
            Cancel
        </a>

    </form>

</div>

{% endblock %}