{% extends 'owner/base.html' %}

{% block content %}

<h1>{{ stall.name }}</h1>

<div class="card">

    {% if stall.stall_image %}
        <img src="{{ stall.stall_image.url }}"
             alt="{{ stall.name }}"
             style="
                width:100%;
                max-width:500px;
                max-height:300px;
                object-fit:cover;
                border-radius:12px;
                margin-bottom:20px;
             ">
    {% else %}
        <p style="color:#9aa4b2;">No stall image uploaded.</p>
    {% endif %}

    <p><b>Owner:</b> {{ stall.owner.name }}</p>
    <p><b>Phone:</b> {{ stall.owner.phone }}</p>

    {% if stall.event %}
        <p><b>Event:</b> {{ stall.event.title }}</p>
    {% else %}
        <p><b>Event:</b> Rental Stall (No Event)</p>

        <p>
            <b>Rental Period:</b>
            {{ stall.rental_start_date|default:"-" }}
            →
            {{ stall.rental_end_date|default:"-" }}
        </p>
    {% endif %}

    {% if stall.is_active %}
        <p>
            <b>Status:</b>
            <span style="color:green;">Active</span>
        </p>
    {% else %}
        <p>
            <b>Status:</b>
            <span style="color:red;">Inactive</span>
        </p>
    {% endif %}

    <p><b>Description:</b> {{ stall.description }}</p>
    <p><b>Location:</b> {{ stall.location }}</p>
    <p><b>Capacity:</b> {{ stall.capacity }}</p>
    <p><b>Fee:</b> RM {{ stall.rental_fee }}</p>

    {% if user.is_authenticated and user.role != "student" %}
        <a href="{% url 'stall_edit' stall.id %}" class="btn">
            Edit
        </a>

        <a href="{% url 'stall_delete' stall.id %}" class="btn btn-danger">
            Delete
        </a>
    {% endif %}

</div>

{% endblock %}