{% load static %}
<link rel="stylesheet" href="{% static 'listings/style.css' %}">
<a href="{% url 'listing_list' %}" class="btn">Home</a>

<h2> + Add Personal Listing</h2>

<form method="POST" class="form">
    {% csrf_token %}

    <label>Title</label>
    <input type="text" name="title" required>

    <label>Description</label>
    <textarea name="description" required></textarea>

    <label>Price (RM)</label>
    <input type="number" name="price" step="0.01" required>

    <button type="submit" class="btn">Create Listing</button>
</form>