{% extends "base.html" %}

{% block content %}

<h2>Edit Product</h2>

<form method="POST">
    {% csrf_token %}

    <select name="stall">
        {% for s in stalls %}
            <option value="{{ s.id }}"
                {% if product.stall.id == s.id %}selected{% endif %}>
                {{ s.name }}
            </option>
        {% endfor %}
    </select>

    <input type="text" name="name" value="{{ product.name }}">

    <input type="text" name="price" value="{{ product.price }}">

    <textarea name="description">{{ product.description }}</textarea>

    <button type="submit">Save</button>
</form>

{% endblock %}