{% extends "products/base.html" %}

{% block content %}

<h2>Products for {{ stall.name }}</h2>

<a href="{% url 'stall_list' %}">
    ← Back to Stalls
</a>

{% if user.is_authenticated and stall.owner.user.id == user.id %}
    <a href="{% url 'product_create' %}?stall={{ stall.id }}" class="btn-box">
        + Add Product
    </a>
{% endif %}

<hr>

{% for p in products %}
<div class="card">

    {% if p.product_image %}
        <img src="{{ p.product_image.url }}"
             alt="{{ p.name }}"
             style="
                width:140px;
                height:140px;
                object-fit:cover;
                border-radius:10px;
                margin-bottom:10px;
             ">
    {% else %}
        <div style="
            width:140px;
            height:140px;
            background:#eef0f3;
            border-radius:10px;
            display:flex;
            align-items:center;
            justify-content:center;
            color:#777;
            margin-bottom:10px;
        ">
            No Image
        </div>
    {% endif %}

    <h3>{{ p.name }}</h3>

    <p><b>Price:</b> RM {{ p.price }}</p>

    <p><b>Stock:</b> {{ p.stock_quantity }}</p>

    {% if p.stock_quantity > 0 %}
        <p><b>Status:</b> <span style="color:green;">In Stock</span></p>
    {% else %}
        <p><b>Status:</b> <span style="color:red;">Sold Out</span></p>
    {% endif %}

    <p>{{ p.description }}</p>

    <a href="{% url 'product_detail' p.id %}" class="btn">
        View
    </a>

    {% if user.is_authenticated and stall.owner.user.id == user.id %}
        <a href="{% url 'edit_product' p.id %}" class="btn">
            Edit
        </a>
    {% endif %}

</div>

{% empty %}
<p>No products in this stall.</p>
{% endfor %}

{% endblock %}