{% extends "owner/base.html" %}

{% block content %}

<a href="{% url 'product_by_stall' stall.id %}">← Back</a>

<div class="card">

    <h2>{{ product.name }}</h2>

    <p>{{ product.description }}</p>

    <h3>RM {{ product.price }}</h3>

    <p>
        Stall: {{ product.stall.name }}
    </p>

    <p>
        Owner:
        {{ product.stall.owner.name }}
    </p>

    <hr>

    <a href="{% url 'edit_product' product.id %}">Edit</a>

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'delete_product' product.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    {% endif %}

</div>

{% endblock %}