{% extends "base.html" %}

{% block content %}

<h2>Add Product</h2>

<form method="POST">
    {% csrf_token %}

    <select name="stall">
        {% for s in stalls %}
            <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="name" placeholder="Product Name">

    <input type="text" name="price" placeholder="Price">

    <textarea name="description" placeholder="Description"></textarea>

    <button type="submit">Add Product</button>
</form>

{% endblock %}