{% extends "base.html" %}

{% block content %}

<a href="{% url 'product_list' %}">← Back</a>

<div class="card">

    <h2>{{ product.name }}</h2>

    <p>{{ product.description }}</p>

    <h3>RM {{ product.price }}</h3>

    <p><b>Stall:</b> {{ product.stall.name }}</p>

    <p><b>Owner:</b>
        {{ product.stall.owner.name|default:"No owner" }}
    </p>

    <hr>

    <a href="{% url 'edit_product' product.id %}">Edit</a>

    <form method="POST" action="{% url 'delete_product' product.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

</div>

{% endblock %}